{% extends "base.html" %}

{% block title %}MV - About{% endblock %}

{% block content %}
    <h1>About This Project</h1>
    <p>This is a Flask web app created as a midterm project. It uses Flask, Bootstrap, and WTForms.</p>

    <section aria-labelledby="references">
        <h2 id="references">References</h2>
        <ul>
            <li><a href="https://getbootstrap.com/docs/5.3/getting-started/introduction/" target="_blank">Bootstrap Documentation</a></li>
            <li><a href="https://flask.palletsprojects.com/en/2.3.x/" target="_blank">Flask Documentation</a></li>
            <li><a href="https://jinja.palletsprojects.com/en/3.1.x/templates/" target="_blank">Jinja Template Engine</a></li>
            <li><a href="https://unsplash.com/documentation" target="_blank">Unsplash API</a></li>
        </ul>
        <h2 id="Credits">Credits</h2>
        <ul>
            <li><a href="https://chatgpt.com/">ChatGPT</a>: General troubleshooting</li>
        </ul>
    </section>


{% endblock %}