{% extends "base.html" %}

{% block title %}Matthew Valdez IT112 - Home{% endblock %}

{% block content %}
    <h1>Matthew Valdez IT112</h1>
    <p>This is my midterm project, basically just a simple site with a <a href="{{ url_for('contact') }}">form <i class="bi bi-pencil-fill fs-3"></i></a></p>
    <p>The site was built with <a href="https://flask.palletsprojects.com/en/stable/" target="_blank">Flask</a> a lightweight and flexable framework for web development in Python.</p>
    <p>I leaned heavily on <a href="https://getbootstrap.com/docs/5.3/getting-started/introduction/" target="_blank">Bootstrap</a> for the general look and functionality of the site, mainly the navigation bar...and all the fun icons <i class="bi bi-emoji-wink fs-3"></i></p>
    <p>All code and files are hosted on <a href="https://github.com/mercurymlv/it112-midterm/tree/main" target="_blank">GitHub <i class="bi bi-github"></i></a></p>
{% endblock %}